<ul>
    <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">
{{ i18n "intro" }}
</span></a>
    </li>
    <li><a href="#help-you" id="help-you-link" class="skel-layers-ignoreHref"><span class="icon fa-bolt">
{{ i18n "help-you-short"}}</span></a>
    </li>
    <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">
{{ i18n "portfolio"}}</span></a>
    </li>
    <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span
            class="icon fa-user">{{ i18n "about"}}</span></a></li>
    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">
{{ i18n "contact" }}
</span></a>
    </li>
</ul>