.limited-width {
    max-width: 800px;
    margin: 0 auto;
}

.portfolio-description {
    margin-bottom: 20px;
    margin-top: 20px;
}

.center, .image.center {
    margin: 0 auto;
}

.small-width {
    max-width: 500px;
}

p {
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

article.item > a > header {
    border-top: 1px solid #ccc;
    background-color: #fbfbfb;
}

.rounded-corners {
    border-radius: 8px;
}

@media (max-width: 420px) {
    a.button + a.button {
        margin-top: 10px;
    }
}

@media (min-width: 420px) {
    a.button + a.button {
        margin-left: 10px;
    }
}

.image.avatar48 {
    background-color: #212528;
}

#logo {
    margin: 1.75em 1.25em 1.5em 1.25em;
}

h1 {
    font-size: 2em;
    letter-spacing: -1px;
}

ol.bullets, ul.bullets {
    list-style: circle;
}

.text-center {
    text-align: center;
}

.left-centered {
    text-align: left;
}

p {
    font-size: 1.2em;
    font-weight: 400;
}

.smaller-type, .smaller-type > p {
    font-size: 1.0em;
}

#portfolio.portfolio-content {
    margin-left: 10px;
    text-align: left;
    padding-top: 20px;
}

.bordered {
    border: 1px solid #ccc;
}

a {
    cursor: pointer;
}

a:hover {
    color: #4caf50;
}

input[type="button"], input[type="submit"], input[type="reset"], button, .button {
    background-color: #4caf50;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
    background-color: #66bb6a;
}

a.white-link {
    color: white;
    border-bottom: 1px dotted ;
}

a.white-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
}

a.white-underline:hover::after {
    width: 100%;
}


