.limited-width {
	max-width: 800px; 
	margin: 0 auto; 
}

.portfolio-description {
	margin-bottom: 20px; 
	margin-top: 20px;
}


.center, .image.center {
	margin: 0 auto;
}

.small-width {
	max-width: 500px;
}

p {
	margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

article.item > header {
    border-top: 1px solid #eff4f4;
    background-color: #fbfbfb;
}

.rounded-corners {
    border-radius: 8px;
}

@media (max-width: 420px) {
    a.button + a.button {
        margin-top: 10px;
    }
}

@media (min-width: 420px) {
    a.button + a.button {
        margin-left: 10px;
    }
}

.image.avatar48 {
    background-color: #212528;
}

#logo {
    margin: 1.75em 1.25em 1.5em 1.25em;
}