{{ partial "header" . }}

<!-- Intro -->
<section id="top" class="one dark cover">
    <div class="container">
        <header>
            <h2 class="alt"><strong>Grégory Bonaert</strong></h2>
            <p>{{ i18n "header-description" }}</p>
        </header>

        <footer>
            <a href="#portfolio" class="smaller-sides button scrolly">{{ i18n "see-projects" }}</a>
            <a href="#contact" class="smaller-sides button scrolly">{{ i18n "contact-me" }}</a>
        </footer>

    </div>
</section>

<!-- Portfolio -->
<section class="two">
    <div class="container">

        <header id="help-you">
            <h2>{{ i18n "help-you" }}</h2>

            <div class="left-centered limited-width ">
                <p class="portfolio-description">
                    {{ i18n "help-you-explanation" }}
                </p>

                <ul class="bullets">
                    <li>{{ i18n "help-you-create-a-website"}}</li>
                    <li>{{ i18n "help-you-help-with-wordpress"}}</li>
                    <li>{{ i18n "help-you-code-for-you"}}</li>
                    <li>{{ i18n "help-you-integrate-with-api"}}</li>
                    <!--<li>{{ i18n "help-you-frontend-backed-dev"}}</li>-->
                    <li>{{ i18n "help-you-add-feature"}}</li>
                </ul>

                <p class="bold text-center">{{ i18n "help-you-intro" }}
                </p>
                <div class="center-flex">
                <a href="#contact" class="small button scrolly" style="font-weight: normal">{{ i18n "help-you-get-in-touch" }}</a>
                </div>
            </div>
        </header>

        <header id="portfolio">
            <h2>{{ i18n "trustful-clients" }}</h2>

            <p class="limited-width portfolio-description">
                {{ i18n "portfolio-explanation" }}
            </p>
        </header>


        <div class="row">
            <div class="6u 12u$(mobile)">
                {{ range .Site.Params.portfolio1 }}
                <article class="item bordered">
                    <a href="{{ .url | absLangURL }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}"/>
                        <header>
                            <h3 class="bold">{{ .title }}</h3>
                        </header>
                    </a>
                </article>
                {{ end }}
            </div>


            <div class="6u 12u$(mobile)">
                {{ range .Site.Params.portfolio2 }}
                <article class="item bordered">
                    <a href="{{ .url | absLangURL }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}"/>
                        <header>
                            <h3 class="bold">{{ .title }}</h3>
                        </header>
                    </a>
                </article>
                {{ end }}
            </div>

            <!--
            <div class="4u 12u$(mobile)">
              {{ range .Site.Params.portfolio3 }}
              <article class="item">
                <a href="{{ .url | absLangURL }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                <header>
                  <h3>{{ .title }}</h3>
                </header>
              </article>
              {{ end }}
            </div>
            -->
        </div>

        <br>
        <hr>
        <p class="limited-width portfolio-description">
            {{ i18n "portfolio-see-github-on" }} <a href="{{ .Site.Params.github }}">Github</a>
        </p> 
    </div>
</section>

<!-- About Me -->
<section id="about" class="three">
    <div class="container">

        <header>
            <h2>{{ i18n "about" }}</h2>
        </header>

        <div class="row">
            <div class="6u 12u$(mobile) smaller-type">
                <p>{{ i18n "about-description-1" }}</p>
                <p>{{ i18n "about-description-2" }}</p>
                {{ i18n "about-description-3" }}
            </div>

            <div class="6u 12u$(mobile)">
                <img src="/img/about.png" alt="" class="image fit small-width center rounded-corners"/>
                <!--<img src="/img/ipad.jpg" alt="" class="image fit small-width center"/>-->
            </div>

        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>{{ i18n "contact" }}</h2>
        </header>

        <p class="smaller-type limited-width">{{ i18n "contact-explanation" }}</p><br>

        <p><a href="mailto:{{ .Site.Params.email }}">1. {{ i18n "contact-send-email" }}: {{ .Site.Params.email }}</a></p>

        <hr>
        <p>2. {{ i18n "contact-send-message-form" }}</p>


        <form method="post" name="contact" action="thank-you" netlify>
            <div class="row">
                <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="{{ i18n "name" }}"/></div>
                <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email"/></div>
                <div class="12u$">
                    <textarea name="message" placeholder="{{ i18n "message" }}"></textarea>
                </div>
                <div class="12u$">
                    <input type="submit" value="{{ i18n "send-message" }}"/>
                </div>
            </div>
        </form>
    </div>
</section>

{{ partial "footer" . }}
